@import "vars";
@import "reset";

body {
    font-family: sans-serif;
}

nav {
    height: $navbar-height;
    
    li {
        line-height: $navbar-height;
        display: inline-block;
    }
    
    #sub-ul ul:not(#home-menu) {
        display: none;
    }
    
    > ul {
        @extend #main; // use the same container styles
    }
    
    a {
        padding: 0 1em;
        display: inline-block;
        color: white;
    }
}

#main-nav {
    background-color: $main-navbar-color;
}

#sub-nav {
    background-color: $sub-navbar-color;
}

a {
    text-decoration: none;
    color: blue;
}

#main {
    margin: 0 auto;
    width: 95%;
}

#main > div:not(#home-welcome) {
    display: none;
}
