@import "vars";
@import "reset";

body {
    font-family: sans-serif;
}

nav {
    background-color: $navbar-color;
    height: $navbar-height;
    
    ul {
        @extend #main; // use the same container styles
        
        li {
            float: left;
            line-height: $navbar-height;
            
            &:first-child a {
                padding: 0 1em 0 0;
            }
            
            a {
                padding: 0 1em;
                display: block;
            }
            
        }
        
    }
}

a {
    text-decoration: none;
    color: blue;
}

nav ul li ul {
    display: none;
}

#main {
    margin: 0 auto;
    width: 95%;
}
